body, html {
position: relative;
display: block;
height: auto;
width: 100%;
max-width: 1920px;
margin-left: auto;
margin-right: auto;
}
body {
  margin: 0;
  background-image: url("../images/wp2.jpg");
  font-family: sans-serif;
  text-align: center;
}
hr {
  width: 96rem;
  height: 0.09rem;
  color: #58391c;
  letter-spacing: 300px;
}
/* All header ingrediets*/
.header {
  margin: 0;
  height: 4rem;
}
/* All top-contaier ingrediets*/
.top-container {
  text-align: center;
  vertical-align: middle;
  height: 12rem;
  background: rgba(247, 247, 232,0.2);
}
.img1 {
  display: inline-block;
  position: fixed;
  left:0;
  margin: 2rem 0;
  height: 3rem;
  width: 3rem;
}
.img2 {
  display: inline-block;
  position: fixed;
  right:0;
  margin: 2rem 0;
  height: 3rem;
  width: 3rem;
}
.welcome-board {
  color: #314e52;
  display: inline-block;
  font-family: 'Aladin', cursive;
  font-size: 4rem;
  margin: 0;
}
.h2 {
  color: #314e52;
  display: inline-block;
  font-family: 'Aladin', cursive;
  font-size: 2rem;
  margin: 0;
}
/* End of All top-contaier ingrediets*/
.profile-pic {
  height: 20rem;
  width: 20rem;
  margin: 2rem;
}
.header-text {
  margin: 0;
  margin-bottom: 2rem;
  color: #314e52;
  font-family: 'Aladin', cursive;
  font-size: 2rem;
}
/* All second-contaier ingrediets*/
.second-container {
  text-align: center;
  vertical-align: middle;
  height: 36rem;
  background: rgba(247, 247, 232,0.2);
}
.olive-garden-3-img {
  margin-bottom: 2rem;
  margin-left: 20%;
  margin-right: 5rem;
  height: 28rem;
  width:28rem;
  float: left;
}
p {
  text-indent: 4rem;
  text-align: left;
  width: 100rem;
  font-family: 'Aladin', cursive;
  font-size: 1.7rem;
}
p::first-letter {
  color: #ff0000;
  font-size: xx-large;
}
#unvisible {
  visibility: hidden;
}
/* End of All second-contaier ingrediets */
.p1 {
  text-indent: 4rem;
  text-align: left;
  vertical-align: middle;
  margin-left: 20%;
  margin-right: 25%;
  width: 80rem;
  font-family: 'Aladin', cursive;
  font-size: 1.7rem;
}
a {
  margin: 0;
  margin-bottom: 2rem;
  text-decoration: none;
  color: #314e52;
  font-family: 'Aladin', cursive;
  font-size: 2rem;
}
a:hover {
  color: #557174;
}
/* All third-contaier ingrediets*/
.olive-garden-img {
  margin-bottom: 2rem;
  margin-left: 5rem;
  margin-right: 10%;
  height: 28rem;
  width:28rem;
  float:right;
}
.p2 {
  text-indent: 4rem;
  text-align: left;
  width: 50rem;
  margin-left: 18rem;
  font-family: 'Aladin', cursive;
  font-size: 1.7rem;
}
.p3 {
  visibility: hidden;
  text-indent: 4rem;
  text-align: left;
  width: 40rem;
  margin-left: 18rem;
  font-family: 'Aladin', cursive;
  font-size: 1.7rem;
}
/* End of All third-contaier ingrediets*/
/* All fourth-contaier ingrediets*/
.BUTTON_FMD {
   background: #42A361;
   background-image: -webkit-linear-gradient(top, #42A361, #0D1911);
   background-image: -moz-linear-gradient(top, #42A361, #0D1911);
   background-image: -ms-linear-gradient(top, #42A361, #0D1911);
   background-image: -o-linear-gradient(top, #42A361, #0D1911);
   background-image: -webkit-gradient(to bottom, #42A361, #0D1911);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #939393;
   font-family: Brush Script MT;
   font-size: 30px;
   font-weight: 300;
   padding: 34px;
   -webkit-box-shadow: 0 1px 52px 26px #000000;
   -moz-box-shadow: 0 1px 52px 26px #000000;
   box-shadow: 0 1px 52px 26px #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_FMD:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
/* End of All fourth-contaier ingrediets*//*
/* All footer ingrediets*/
.footer {
  text-align: center;
  vertical-align: top;
  height: 12rem;
  background: rgba(85, 113, 116,0.4);
}
.footer-a {
  margin: 2rem 8rem;
  color: #493323;
  display: inline-block;
  font-family: 'Aladin', cursive;
  font-size: 2rem;
}
.footer-h3 {
  font-family: 'Aladin', cursive;
  color: #493323;
}
/* End of All fourth-contaier ingrediets*//*
